.HeaderImage {
    height: 100%;
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    max-width: 100%;
    overflow-x: hidden;
}

.Root {
    flex-grow: 1;
}

.Tabs {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.NameHeader {
    position: absolute;
    z-index: 13;
    text-align: center;
    color: white;
    font-size: 5em;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
    width: 100%;
}

.DescriptionText {
    position: absolute;
    z-index: 13;
    text-align: center;
    color: white;
    font-size: 1.2em;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}